
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=

EMAIL=
PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
S3_ENDPOINT_URL=
S3_BUCKET_NAME=

DATABASE_URL=
AIRFLOW_DB_URL=
SUPABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_ANON_KEY=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=
INGESTION_URL=
INGESTION_API_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=
AIRFLOW_ADMIN_PASSWORD=


PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

API_ADMIN_USER=
API_ADMIN_PASSWORD=


MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

GEMINI_API_KEY=
NEWS_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=