pycache/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.ipynb_checkpoints
/.ipynb_checkpoints/
data/
minio_data/
postgres_data/
chroma_data/
spark-warehouse/
metastore_db/
derby.log
*.log
.vscode/
.idea/
*.swp