# Env and secrets
.venv/
.env

# Python
__pycache__/
*.pyc

# Docker volumes
chroma_data/
minio_data/
mlflow_data/
airflow_data/

# Airflow folders
logs/
plugins/

# Old or static files
bitcoin_wiki.txt
*.log
.DS_Store